#button-container-section {
  display: flex;
  justify-content: space-between;
}

.button-container {
  position: relative;
  filter: url(#filter);
  display: inline-block;
  cursor: grab;
  transform-origin: top center;
  // font-family: "Southam Demo";
  font-family: "pulp display";
  background-color: red;
  height: 100%;

  .small-btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    // height: 50px;
    // width: 50px;
    border-radius: 100px;
    background-color: white;
    display: inline-block;
    padding: 10px 15px;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      margin-top: 0;
      height: 100%;
      width: 100%;
    }

    span {
      position: relative;
      z-index: 333;
      font-size: 12px;
      color: #0e2745;
      line-height: 1;
      font-weight: bold;
      display: inline-block;
    }
  }

  .btn {
    position: relative;
    padding: 10px 15px;
    border-radius: 100px;
    box-shadow: 3px 15px 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    color: #0e2745;
    font-family: "pulp display";
    font-size: em(15);
    line-height: 1;
    font-weight: 500;
    opacity: 0;
    filter: blur(40px);
    cursor: pointer;

    span {
      position: relative;
      z-index: 333;
    }

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}