html,
body {
  height: 100%;
  background-color: #313131;
  color: white;
  font-family: "Switzer Variable";
}

* {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 16px;
}

::selection { background: transparent; }
::-moz-selection { background: transparent; }

#app {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url('/img/bg.jpg');
  background-size: cover;

  .js-locomotive {
    min-height: 100vh;
    width: 100%;
  }
}

.spanish {
  display: none;
  visibility: hidden;
}

.container  {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
}

h2 {
  text-transform: none;
  will-change: transform;
}

h3 {

}

h4 {
}

p {
}

ul {
  margin: 0;
  li {
    list-style: none;
  }
}




.float-hide {
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
}

.bulb-orbit {
  position: absolute;
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  border-radius: 50%;
  transform-origin: top left;
  filter: blur(1px);
  z-index: 0;
  opacity: 1;
  top: -10px;
  left: -10px;
  background: #474748;
  box-shadow: #0e3152 -1px 6px 14px 14px;
  height: 15px;
  width: 15px;
}


@for $i from 1 through 200 {
  .dot:nth-child(#{$i}) {
    width: 1px + $i/7;
    height: 1px + $i/7;
  }
}
