html,
body {
  height: 100%;
  background-color: #313131;
  color: white;
  // cursor: none;
  font-family: "Monument Grotesk";
}
::-webkit-scrollbar {
  display: none;
}

:root {
  font-size: 16px;
}

#app {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url('/img/bg.jpg');
  background-size: cover;

 // .js-locomotive {
 //   min-height: 100vh;
 //   width: 100%;
 // }
}

.spanish {
  display: none;
  visibility: hidden;
}

// .container  {
//   position: relative;
//   overflow: hidden;
//   height: 100%;
//   width: 100%;
// }


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
}

h2 {
  text-transform: none;
  will-change: transform;
}

h3 {

}

h4 {
}

p {
}

ul {
  margin: 0;
  li {
    list-style: none;
  }
}

* {
  outline: none;

}

::selection { background: transparent; }
::-moz-selection { background: transparent; }
