#form-ball {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: -webkit-radial-gradient(top right, #ffe897, #f97805);
  box-shadow: 1px 5px 29px 5px rgba(0,0,0,0.31);
}

#hero {
  > .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }


  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 972px;
    perspective: 1000px;

    #logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/img/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.5;
      transform: scale(0.7)
    }

    .content {
      position: relative;
      z-index: 333;
      perspective: 1000px;
    }


    .name {
      font-size: em(227);
      font-family: "StephenGillion DEMO";
      color: $gold;
      line-height: 1;
      will-change: transform;
    }

    .title {
      font-weight: 400;
      line-height: 53px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      font-family: "pulp display";
      font-size: 37px;

    }

    p {
      position: relative;
      font-size: 1.625em;
      line-height: 36px;
      letter-spacing: 2px;
      font-family: "pulp display";
      margin-bottom: 40px;
      font-weight: 300;

      margin-bottom: 40px;

      .word {
        line-height: inherit;
        font-size: inherit;
        display: inline-block;
        overflow: hidden;

        .char {
          display: inline-block;
          will-change: transform;
          vertical-align: text-top;
        }
      }
    }
  }
}

#form-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
      background-color: #0620434d;
      opacity: 0;

      pointer-events: none;

          // &:before {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //
          //   backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
          // }
}
#form-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 855px;
    max-width: 845px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/formbg.png');
  perspective: 1000px;
  opacity: 0;

  h2 {
    font-size: 32px;
    font-weight: bold;
  }



  #cloud-one,
  #cloud-two {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: hard-light;
  }
  #cloud-one {
    top: -160px;
      width: 500px;
      height: 285px;
      left: -110px;
    background-image: url('/img/cloudone.png');
        mix-blend-mode: exclusion;
  }

  #cloud-two {
    top: -190px;
    right: -80px;
    width: 70%;
    height: 350px;
    background-image: url('/img/cloudtwo.png');
  }
}

#location {
  height: 100vh;
}


#svg-mask {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  overflow: visible;
}

#center{
  visibility: hidden;
}
