#hero {
  > .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  #about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 972px;
    perspective: 1000px;

    #logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('/img/logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      opacity: 0.5;
      transform: scale(0.7)
    }

    .content {
      position: relative;
      z-index: 333;
      perspective: 1000px;
    }


    .name {
      font-size: em(227);
      font-family: "StephenGillion DEMO";
      color: $gold;
      line-height: 1;
      will-change: transform;
    }

    .title {
      font-size: em(33);
      font-weight: 700;
      line-height: 37px;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    p {
      position: relative;
      font-size: em(28);
      line-height: 40px;
      letter-spacing: 0.5px;
      font-family: "muli";
      margin-bottom: 40px;

      .word {
        line-height: inherit;
        font-size: inherit;
        display: inline-block;
        overflow: hidden;

        .char {
          display: inline-block;
          will-change: transform;
          vertical-align: text-top;
        }
      }
    }
  }
}

#location {
  height: 100vh;
}
