svg#name {
  position: relative;
  fill: $gold;
  width: 81%;
}

#name-container {
  position: relative;
  margin-bottom: 10px;

  &:before {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 18px;
    height: 13px;
    width: 289px;
    background-image: url("/img/signatureline.png");
    background-size: COVER;
    background-repeat: no-repeat;
    transform: rotate(359deg);
  }
}

.content {
  position: relative;
  z-index: 333;
  // perspective: 1000px;
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 490px;
}

.title {
  font-size: 34px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 1px;
  font-family: Baskerville;
  margin-bottom: 55px;
  text-shadow: #04172c73 6px 2px 7px;
  // &:before {
  //   content: '';
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  //   background-color: #071f3d;
  //   filter: blur(21px);
  //   width: 95%;
  //   height: 40px;
  //   z-index: -1;
  // }
}

#liana-section {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  height: 100VH;

  #liana-container {
    height: 100%;
    min-width: 1010px;
    width: 52%;
    max-width: 1210px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/img/paintstain.png");
    background-position: center;
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #mask-container {
    width: 100%;
    mask-border: url("/img/mask.svg");

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      box-shadow: inset 0 1em 250px 100px #0a2441;
      will-change: transform;
      border-radius: 20%;
    }

    #paint-dots-container {
      position: absolute;
      left: 0;
      right: 0;
      width: 669px;
      height: 50%;
      margin: auto;
      z-index: 2;

      .paint-dot-container {
        position: absolute;
        height: 290px;
        width: 300px;
        z-index: 3;
        bottom: 0;

        &:nth-child(1) {
          left: -137px;
          bottom: -36%;

          .paint-dot {
            background-image: url("/img/dots.png");
            left: -137px;
            bottom: -36%;
          }
        }

        &:nth-child(2) {
          right: 0;
          bottom: 0;

          .paint-dot {
            background-image: url("/img/dots.png");
            right: 0;
            bottom: 0;
          }
        }

        &:nth-child(3) {
          right: -80px;
          bottom: -50%;

          .paint-dot {
            background-image: url("/img/dots2.png");
            right: -80px;
            bottom: -50%;
          }
        }

        &:nth-child(4) {
          left: 0;
          top: 34%;

          .paint-dot {
            background-image: url("/img/dots.png");
            right: 0;
            bottom: 0;
          }
        }

        .paint-dot {
          height: 100%;
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }

  #liana-box {
    width: 613px;
    margin: 0 auto;

    #liana {
      position: relative;
      z-index: 3;
      height: 1000px;
      width: 100%;
      background-image: url("/img/liana.png");
      background-size: cover;
      background-repeat: no-repeat;

      &:before {
        content: '';
        position: absolute;
        bottom: -270px;
        left: 50%;
        margin-left: -70%;
        height: 410px;
        width: 140%;
        background: #000;
        filter: blur(58px);
      }
    }
  }
  @function multiple-box-shadow ($n) {
    $value: '#{random(4000)}px #{random(4000)}px #FFF';
    @for $i from 2 through $n {
      $value: '#{$value} , #{random(4000)}px #{random(4000)}px #FFF';
    }
    @return unquote($value);
  }
  $shadows-small: multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-big: multiple-box-shadow(100);
  $shadows-bigger: multiple-box-shadow(333);

  #star-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #stars,
    #stars2,
    #stars3,
    #stars4 {
      filter: blur(1px);
      position: relative;
    }

    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
      animation: animStar 250s linear infinite;
    }

    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
      animation: animStar 250s linear infinite;
    }

    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
      animation: animStar 250s linear infinite;
    }

    #stars4 {
      width: 5px;
      height: 5px;
      background: transparent;
      box-shadow: $shadows-bigger;
      animation: animStar 150s linear infinite;
    }
    @keyframes animStar {
      from {
        transform: translateY(0px);
      }

      to {
        transform: translateY(-2000px);
      }
    }
  }
}